.transaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #EDF2FA;
    width: 800px;
    height: 600px;
    margin: auto;
    margin: 30px auto;
    padding: 30px 50px;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form div label{
    font-size: 25px;
}
form div input{
    font-size: 22px;
}
form button{
    background-color: blueviolet;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 22px;
}